# Ignore compiled AL packages and output builds
*.app
.alpackages/
.snapshots
.vscode/.alcache/
.output/
bin/
obj/

# VS Code & build noise
.vscode/
*.vsix
*.zip
*.rar
*.bak
*.tmp

#3PL Docs
NAV Objects
EU SRO Specs and Sample Files
3PL Server Side Powershell Scripts
settings.local.json
claude.md